@model IEnumerable<Student>

<h1>Students</h1>

<p>
    <a class="btn btn-success" asp-controller="Student" asp-action="Create">Create New Student</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Roll</th>
            <th>Class</th>
            <th>Email</th>
            <th>IsActive</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.Roll</td>
                <td>@student.Class</td>
                <td>@student.Email</td>
                <td>@student.IsActive</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Student" asp-action="Edit" asp-route-id="@student.ID">Edit</a>
                    <a class="btn btn-danger" asp-controller="Student" asp-action="Delete" asp-route-id="@student.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>